.tech-img-box {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tech-img-box .logo {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.logo-html {
  animation: scale 20s linear infinite;
  animation-delay: 0s;
}
.logo-css {
  animation: scale 20s linear infinite;
  animation-delay: 0.5s;
}
.logo-javascript {
  animation: scale 20s linear infinite;
  animation-delay: 1s;
}
.logo-react {
  animation: scale 20s linear infinite;
  animation-delay: 1.5s;
}
.logo-nodejs {
  animation: scale 20s linear infinite;
  animation-delay: 2s;
}
.logo-tailwind {
  animation: scale 20s linear infinite;
  animation-delay: 2.5s;
}
.logo-bootstrap {
  animation: scale 20s linear infinite;
  animation-delay: 3s;
}
.logo-express {
  animation: scale 20s linear infinite;
  animation-delay: 3.5s;
}
.logo-git {
  animation: scale 20s linear infinite;
  animation-delay: 4s;
}
.logo-firebase {
  animation: scale 20s linear infinite;
  animation-delay: 4.5s;
}
.logo-heroku {
  animation: scale2 20s linear infinite;
  animation-delay: 0s;
}
.logo-npm {
  animation: scale2 20s linear infinite;
  animation-delay: 0.5s;
}
.logo-mongodb {
  animation: scale2 20s linear infinite;
  animation-delay: 1s;
}
.logo-axios {
  animation: scale2 20s linear infinite;
  animation-delay: 1.5s;
}
.logo-reactQuery {
  animation: scale2 20s linear infinite;
  animation-delay: 2s;
}
.logo-netlify {
  animation: scale2 20s linear infinite;
  animation-delay: 2.5s;
}
.logo-postman {
  animation: scale2 20s linear infinite;
  animation-delay: 3s;
}
.logo-daisyui {
  animation: scale2 20s linear infinite;
  animation-delay: 3.5s;
}
.logo-vscode {
  animation: scale2 20s linear infinite;
  animation-delay: 4s;
}
.logo-antDesign {
  animation: scale2 20s linear infinite;
  animation-delay: 4.5s;
}

.skill-logo-container {
  width: 83.333333%;
  margin: 40px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flagWave {
  padding: 15px 0;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 5px;
  z-index: 2;
  border: 0;

  background-image: -webkit-gradient(
    linear,
    0% 30%,
    50% top,
    color-stop(0%, hsla(0, 0%, 100%, 0)),
    color-stop(40%, hsla(0, 0%, 100%, 0)),
    color-stop(80%, hsla(0, 0%, 100%, 0.1)),
    color-stop(100%, hsla(0, 0%, 100%, 0))
  );

  background-size: 200%;
  background-position: right;

  animation-name: flagWave;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@media only screen and (max-width: 1500px) {
  .skill-logo-container {
    width: 100%;
  }
  .tech-img-box {
    width: 80px;
    height: 80px;
  }
  .tech-img-box .logo {
    width: 50px;
    height: 50px;
  }
  .flagWave {
    gap: 0;
    animation-name: flagWaveResponsive;
  }
}
@media only screen and (max-width: 820px) {
  .flagWave {
    animation-name: flagWaveResponsive;
  }
}
@media only screen and (max-width: 576px) {
  .flagWave {
    animation-name: flagWaveResponsive;
  }
}

/* @keyframes anim {
  0%{
    transform: translateY(-13px);
  }
  2%{
    transform: translateY(-20px);
  }
  4%, 100% {
    transform: translateY(-13px);
  }
} */

@keyframes flagWave {
  0% {
    background-position: -1000px 0px, -1000px 0px, -1000px 0px, -1000px 0px;
    border: 0 solid var(--border-bottom-color);
  }
  50%,
  100% {
    background-position: 1000px 0px, 1000px 0px, 1000px 0px, 1000px 0px;
    border: 1px solid var(--border-bottom-color);
  }
}

@keyframes flagWaveResponsive {
  0% {
    background-position: -800px 0px, -800px 0px, -800px 0px, -800px 0px;
    border: 0 solid var(--border-bottom-color);
  }
  50%,
  100% {
    background-position: 800px 0px, 800px 0px, 800px 0px, 800px 0px;
    border: 1px solid var(--border-bottom-color);
  }
}

@keyframes scale {
  0% {
    transform: scale(1) translateY(0);
  }
  5% {
    transform: scale(1.05) translateY(-5px);
  }
  12%,
  100% {
    transform: scale(1) translateY(0);
  }
}
@keyframes scale2 {
  0% {
    transform: scale(1) translateY(0);
  }
  5% {
    transform: scale(1.05) translateY(5px);
  }
  12%,
  100% {
    transform: scale(1) translateY(0);
  }
}
