@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
body {
  font-family: 'Nunito Sans', sans-serif;
}

body::-webkit-scrollbar {
  width: .2em;
}
   
body::-webkit-scrollbar-track, .sider-style::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
  background-color: #1E2A3A !important;
}
   
body::-webkit-scrollbar-thumb, .sider-style::-webkit-scrollbar-thumb {
  background-color: #3CCF91;
  outline: 1px solid #3CCF91;
  border-radius: 5px;
}

/* common styles */
.light-border-bottom {
  border-bottom: 1px solid hsla(0,0%,100%,.05);
}
.profile-img-container{
  background: #fff;
  border-radius: 50%;
  padding: 2px;
  border: #fff solid 1px;
}
.profile-img-container .profile-img-wrapper {
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./assets/circle.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.person-designation:hover, .about p:hover,
.resume-description p:hover, .person-name:hover,
.my-articles p:hover, .display-container p:hover {
  text-decoration: none;
}

/* dashboard sidebar */
.menu-style, .sider-style {
  background-color: #111827 !important;
}
.menu-style {
  width: 200px;
  margin-top: 1.2rem;
  margin-left: 1rem;
}
.sider-style {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  overflow: auto;
}
.sider-style::-webkit-scrollbar {
  width: .1em;
}

.site-layout-background {
  background-color: #10121B;
  min-height: 100vh;
}
.site-layout{
  margin-left: 250px;
}

.display-container {
  width: 99%;
  height: 370px;
  position: relative;
  color: #F3F3F3;
}

.display-banner-image {
  height: 150px;
  background-image: url('./assets/banner.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.display-img-container {
  width: 140px;
  height: 140px;
  position: absolute;
  top: 80px;
  left: 55px;
}
.display-img-container .display-img-wrapper {
  width: 99%;
  height: 99%;
  border: #111827 solid 1px;
  margin: auto;
}
.display-text{
  position: absolute;
  height: 140px;
  bottom: 0px;
  text-align: center;
  padding: 0 20px;
  border-bottom: 1px solid hsla(0,0%,100%,.05);
}

.social-icon-container {
  width: 160px;
  margin: 20px auto 0 !important;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.social-icon {
  width: 30px;
  height: 30px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  background-color: #54b689;
  font-size: 15px;
  color: hsla(0,0%,100%,.94902);
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.ant-layout-sider-zero-width-trigger {
    top: 0;
}

.ant-menu-item-selected {
  background-color: transparent !important;
}

.ant-menu-item a {
  margin-left: .8rem;
  font-size: 1rem;
  font-weight: 900;
}

.ant-menu-item:hover {
  color: #fff !important;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next {
  color: silver;
  font-size: 2.5rem;
}

.ant-carousel .slick-prev {
    position: absolute;
    left: -40px;
    z-index: 55;
}
.ant-carousel .slick-next {
    position: absolute;
    right: -20px;
    z-index: 55;
}

.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-prev:focus,
.ant-carousel .slick-next:focus {
  color: #fff;
  transition: .3s ease-in;
  transform: scale(1.5);
}

.ant-carousel .slick-dots li button {
  margin-top: 1.5rem;
  background: #919DAE;
  opacity: 0.4;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
.ant-carousel .slick-dots li.slick-active button {
  opacity: 1;
  background: #919DAE;
}

.resume-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.resume-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #54b689;
  padding: .3rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
}

.resume-btn-download {
  background: #2F435C;
}

.resume-btn a, .article a {
  color: #fff;
  margin-top: 1px;
  margin-left: 5px;
}

.resume-btn:hover {
  background: #44A076;
  transition: .2s ease-in-out;
}

.about a {
  color: #54B689;
}

.about a:hover {
  text-decoration: underline;
}

.project a {
  color: #fff;
}

.about .title {
  color: #fff;
  font-size: 2rem;
  font-weight: 900;
}

.horizontal-line {
  background-color: #3F4663;
  width: 100px;
  height: 5px;
  border-radius: 10px;
  position: relative;
  margin: 10px 0;
}

.horizontal-line::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 100%;
  background-color: #54B689;
  border-radius: 10px;
}

.resume-btn-blinking {
  animation: blinking;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

/* About me route styles */
.about-me-container {
  padding: 0 16rem;
  border: #12B0E8 solid 1px;
  height: 100%;
}
.about-me-container .online-resume-container {
  background: #1E2A3A;
  padding: 3rem 2rem;
}
.online-resume-wrapper .resume-header {
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0 0 2rem;
}
.resume-person-title .person-name {
  color: #fff;
  font-size: 3rem;
  font-weight: 900;
}
.resume-person-title .person-designation {
  color: #CBDCEB;
  font-size: 1.2rem;
  font-weight: 400;
}
.contact-items-container .contact-item {
  display: flex;
  align-items: center;
  color: #CBDCEB;
  font-size: 1rem;
  margin: .2rem 0;
}
.contact-items-container .contact-item .item {
  margin-right: .7rem;
  color: #CBDCEB;
}
.contact-items-container .contact-item a, p {
  color: #CBDCEB;
}
.contact-items-container .contact-item a:hover, p:hover {
  text-decoration: underline;
}
.resume-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 1.2rem ;
}
.resume-description p{
  margin-left: 2rem;
  color: #fff;
  font-size: .9rem;
}
.resume-description .resume-image-container {
  width: 180px;
  height: 180px;
  position: relative;
}

@keyframes blinking {
   0%{
   box-shadow: 0 0 0 0 #fff4, 0 0 0 0 #fff4;
   }
   80%{
    box-shadow: 0 0 0 10px #fff0, 0 0 0 20px #fff0;
   }
   100%{
    box-shadow: 0 0 0 0 #fff0, 0 0 0 0 #fff0;
   }
}


.ripple {
    display: flex;
}

.ripple li {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    animation: ripple 1.6s ease-in-out infinite;
}

@keyframes ripple {
    0%, 40%, 100%{
        transform: scale(0.2);
    }
    20%{
        transform: scale(0.8);
    }
}

.ripple li:nth-child(1)
{
    animation-delay: -1.8s;
    background-color: #ffff00;
    box-shadow: 0 0 20px #ffff00;
}
.ripple li:nth-child(2)
{
    animation-delay: -1.4s;
    background-color: #12B0E8;
    box-shadow: 0 0 20px #12B0E8;
}
.ripple li:nth-child(3)
{
    animation-delay: -1.2s;
    background-color: #1FAA59;
    box-shadow: 0 0 20px #1FAA59;
}
.ripple li:nth-child(4)
{
    animation-delay: -1s;
    background-color: #E21717;
    box-shadow: 0 0 20px #E21717;
}

.flicker {
    width: 100px;
    height: 100px;
    background-color: #f1c40f;
    border-radius: 50%;
    position: relative;
    display: block;
    margin: 50px auto;
}

.flicker::before,
.flicker::after {
   position: absolute;
   content: '';
   width: 100%;
   height: 100%;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   border: 2px solid #f1c40f;
   border-radius: 50%;
   animation: flicker 2s linear infinite;
}

@keyframes flicker {
    100%{
        transform: scale(2);
        opacity: 0;
    }
}

li::marker {
	color: #1FAA59;
}

.social-icon-container {
    margin: 0;
    padding: 0;
    display: flex;
    /* position: absolute;
    top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
  }
  
  .social-icon-container li {
    list-style: none;
    margin: 0 10px;
  }
  
  .social-icon-container li a {
    position: relative; 
    display: block;
    width: 30px;
    height: 30px;
    text-align: center; 
    transition: .5s;
  }
  
  .social-icon-container li a:hover {
    color: #1FAA59;
    text-shadow: 0 0 5px #1FAA59;
  }

  .skillCard {
    background: linear-gradient(#1E2A3A, #1E2A3A) padding-box, linear-gradient(90deg, #54B689, #1FAA59) border-box;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-radius: 1.4em;
  }

@media only screen and (max-width: 576px) {
    .site-layout{
        margin-left: 0 !important;
    }
    .ant-carousel .slick-prev,
    .ant-carousel .slick-next {
        color: silver;
        font-size: 1.5rem;
    }
    .ant-carousel .slick-prev {
        position: absolute;
        left: -20px;
        z-index: 55;
    }
    .ant-carousel .slick-next {
        position: absolute;
        right: -15px;
        z-index: 55;
    }
    
}