@tailwind base;
@tailwind components;
@tailwind utilities;


/* dashboard sidebar */
.menu-style, .sider-style {
    background-color: #1E2A3A !important;
}
.sider-style {
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.site-layout-background {
    background: #10121B;
    min-height: 100vh;
}

.ant-layout-sider-zero-width-trigger {
    top: 0;
}

@media only screen and (max-width: 576px) {
    .site-layout{
        margin-left: 0 !important;
    }
}